body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color:#216aaf;
}

#ripple-control{
	width: 100%;
	height:100px;
	position: absolute;
	top: 63%;
	left: 0;
	z-index: 10;
}

#sun{
	height: 120px;
	width : 50px;
}

#contant{
	height:40px;
	width:100%;
	text-align: center;

}
#status{
	color: white;
	font-family: Gill Sans MT, calibre, Arial, san serif;
	font-size: 50px;
	 margin-top: 0px;
	
}